//VARIABLES
//Colors
$colorWhite: #FFF;
$colorCharcoal: #3396CB;
$colorGray: #D0D2D3;
$colorDarkGray: #404041;
$colorOrange: #ECAA1E;
$colorBlue: #3396CB;
$colorRed: #FF0000;
$colorBlack: #000;

//Fonts
$fontFamily: "Lato", Arial, sans-serif;
$fontSize: 16px;
$fontWeight: normal;
$fontWeightBold: bold;
